<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Users Table
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Email</th>
              <th>Created Date</th>
              <th>Modified Date</th>
              <th>Verified</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | async">
              <td>{{user.Email}}</td>
              <td>{{user.Created | date}}</td>
              <td>{{user.Modified | date}}</td>
              <td>{{user.Verified}}</td>
              <td>{{user.Status}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <button routerLink="/users/create" class="ml-3 btn btn-primary">Add User</button>
        </div>
      </div>
    </div>
  </div>
</div>
