<div class="animated fadeIn">
  <div class="card" *ngIf="showDummyChart">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Traffic (Dummy)</h4>
          <div class="small text-muted">December 2020</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="dummyChartData"
        [labels]="dummyChartLabels"
        [options]="dummyChartOptions"
        [colors]="dummyChartColours"
        [legend]="dummyChartLegend"
        [chartType]="dummyChartType"></canvas>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="!showDummyChart">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Cluster cost per tenant</h4>
          <div class="small text-muted">Last 15 days</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="today" id="option1">Today</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="7d" id="option2">7 Days</label>
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="15d" id="option3">15 Days</label>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="chartData.perTenantCost.datasets"
        [labels]="chartData.perTenantCost.labels"
        [options]="chartOptions.perTenantCost"
        chartType="bar"></canvas>
      </div>
    </div>
  </div>
</div>
