<alert type="danger" *ngIf="error" [dismissible]="true">
  <strong>Oh snap!</strong> There was an error provisioning your tenant.
</alert>
<alert type="success" *ngIf="success" [dismissible]="true">
  <strong>Success!</strong> Sucessfully provisioned your tenant.
</alert>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="form">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-user"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      id="fullname"
                      name="fullname"
                      class="form-control"
                      formControlName="name"
                      placeholder="Full Name"
                      [ngClass]="displayFieldCss('name')"
                      required
                    />
                  </div>
                  <div
                    *ngIf="isFieldInvalid('name')"
                    class="alert alert-danger"
                  >
                    <div *ngIf="hasRequiredError('name')">
                      Name is required.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-envelope"></i
                      ></span>
                    </div>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                      formControlName="email"
                      placeholder="Email"
                      [ngClass]="displayFieldCss('email')"
                      required
                    />
                  </div>
                  <div
                    *ngIf="isFieldInvalid('email')"
                    class="alert alert-danger"
                  >
                    <div *ngIf="hasRequiredError('email')">
                      Email is required.
                    </div>
                    <div *ngIf="hasError('email', 'email')">
                      Email is invalid.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fa fa-building"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      id="company-name"
                      name="company-name"
                      class="form-control"
                      formControlName="companyName"
                      placeholder="Enter Company Name"
                      [ngClass]="displayFieldCss('companyName')"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="plan" class="text-muted">Please select your service plan</label>
                  <select
                    id="plan"
                    name="plan"
                    class="form-control"
                    formControlName="plan"
                    placeholder="Select Plan"
                    [ngClass]="displayFieldCss('plan')"
                    required
                  >
                    <option>Select one...</option>
                    <option value="basic">Basic</option>
                    <option value="standard">Standard</option>
                    <option value="premium">Premium</option>
                    <option value="platinum">Platinum</option>
                  </select>
                  <div
                    class="animated fadeIn text-center mt-3"
                    *ngIf="!!form.value['companyName']"
                  >
                    <span>Your application will be hosted at</span>
                    <div class="text-muted">
                      <a href="">{{ getTenantUrl() }}</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button
                    class="btn btn-block btn-primary"
                    (click)="onSubmit()"
                    type="button"
                  >
                    <span>Create</span>
                  </button>
                </div>
                <div class="col-6">
                  <button
                    class="btn btn-block btn-danger"
                    routerLink="/landing"
                    type="button"
                  >
                    <span>Cancel</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
